@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white;
  background: url('/grain.png') #07101e;
}

.grid-pattern {
  background-image: url('/grid.svg');
  filter: brightness(0.3);
  opacity: 0.2;
  mask-image: radial-gradient(70% 80% at 50% 50%, black 40%, transparent 90%);
  z-index: -1;
}

.cut-corner {
  clip-path: polygon(
    12px 0px,
    100% 0px,
    100% 72%,
    calc(100% - 12px) 100%,
    0px 100%,
    0px 12px
  );
}
